<div class="content">
    <ul class="slideshow">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
    <h1>Hệ thống cửa hàng Whatever Coffee Shop</h1>
    <h2 style="padding-left: 5%;">6 cửa hàng</h2>
    <div class="addressShow">
        {{#each stores}}
            <div class="addressBox">
                <img src="{{this.img_path}}">
                <div class="address">
                    <p style="font-size: 90%; color: gray;">Whatever Coffee Shop</p>
                    <p>{{this.location}}</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>